
body{
    font-family: "Jost", sans-serif;
    color: white;
    letter-spacing: 0.05em; 
    margin: 0;
    padding: 0;
    background-color: #252525;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    display: flex;
    margin-top: 0px;
    margin: 20px;
}

h1{
    font-size: 30px;
}

canvas{
    background-color: white; 
}
canvas:hover{
    cursor: crosshair;
}

main aside{
    display: flex;
    flex-direction: column;
    margin-right: 0px;
}

#lapizContainer{
    display: flex;
}
#gomaContainer{
    display: flex;
}
#buttonsImagesContainer{
   display: flex;
}

input[type="color"]{
    height: auto;
    border: none;
    cursor: pointer;
}

button img { /* Espacio entre la imagen y el texto */
    background-color: ;
    max-width: 24px; /* Ajusta el tamaño máximo de la imagen */
    height: auto;
    margin-right: 5px; /* Espacio entre la imagen y el texto */
}

#botonCargarImage {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}



button {
    background-color: #252525;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    border: none;
    box-shadow: inset -1px -1px 5px rgb(255, 255, 255);
    width: 100%;
}

button:hover{
    cursor: pointer;
    box-shadow: inset 1px 1px 5px  #ffe1e1;
    background-color: #484848;
    transition: 0.5s;
}

.active{
    cursor: pointer;
    box-shadow: inset 1px 1px 5px #ffe1e1;
    background-color: #484848;
}


