*{
    font-size: 1rem;
    font-family: 'Arial Narrow','Arial';
    font-weight: 800;
}

body{
    margin: 0;
    padding: 0;
    font-family: ;
    background-color: #505050;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    display: flex;
}

h1{
    font-size: 3rem;
    margin: 1rem;
    padding: 0;
    text-align: center;
}

canvas{
    background-color: white; 
    border: 1px solid black;
}
canvas:hover{
    cursor: crosshair;
}

main aside{
    display: flex;
    flex-direction: column;
    margin-right: 0px;
}

#lapizContainer{
    display: flex;
}
#gomaContainer{
    display: flex;
}
#buttonsImagesContainer{
   display: flex;
}

input[type="color"]{
    height: auto;
    border: none;
    cursor: pointer;
}

button img { /* Espacio entre la imagen y el texto */
    background-color: ;
    max-width: 24px; /* Ajusta el tamaño máximo de la imagen */
    height: auto;
    margin-right: 5px; /* Espacio entre la imagen y el texto */
}

#botonCargarImagen {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}



button {
    background-color: #505050;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    border: none;
    box-shadow: inset -1px -1px 5px rgb(255, 255, 255);
    width: 100%;
}

button:hover{
    cursor: pointer;
    box-shadow: inset 2px 2px 5px  #ffffff;
    background-color: #898989;
    transition: 0.5s;
}

.active{
    cursor: pointer;
    box-shadow: inset 2px 2px 5px #ffffff;
    background-color: #898989;
}


